*{
	margin: 0;
	padding: 0;
}
html,body,.course_pay{
	width: 100%;
	height: 100%;
	font-family: Roboto,Open Sans,Helvetica,Arial;
}
b{
	font-weight:normal
}
.course_pay{
	background: #FAFAFA;
}
.course_pay>p{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 20px;
	background: #FAFAFA;
}
.course_pay div:nth-of-type(1){
	width: 100%;
	height: 178px;
	background: #FFFFFF;
	padding-top: 20px;
}

.course_pay div:nth-of-type(1) p{
	position: relative;
	margin: 20px 0px 20px 4%;
}
.course_pay div:nth-of-type(1) p:nth-of-type(1){
	margin: 20px 0px 20px 4%;
}
.course_pay div:nth-of-type(1) p:nth-of-type(3){
	margin: 20px 0px 20px 4%;
}
.course_pay div:nth-of-type(1) p span{
	position: absolute;
	right: 4%;
}
.course_pay div:nth-of-type(2){
	width: 100%;
	height: 44px;
	margin-bottom: 20px;
    border-top: 1px solid #ccc;
	background: rgba(255,255,255,1);
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.20);
}
.course_pay div:nth-of-type(2) p{
	margin-top: 10px;
	position: relative;
}
.course_pay div:nth-of-type(2) p span{
	position: absolute;
	right: 4%;
}
.wx_stutas{
	position: relative;
	width: 100%;
	height: 44px;
	/*left: 4%;*/
	background: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
}
.wx_stutas img{
	display: block;
	height: 22px;
}
.wx_stutas b:nth-of-type(1){
	position: absolute;
	top: 25%;
	left: 4%;
}
.wx_stutas b:nth-of-type(2){
	position: absolute;
	top: 25%;
	right: 4.8%;
}
.wx_pay{
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 80px;
	background: rgba(255,255,255,0.80);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
}
.wx_pay span{
	display: inline-block;
	height: 64%;
	text-align: center;
	 position: absolute;
	 top: 18%;
}
.wx_pay span:nth-of-type(1){
	width: 28%;
	border: 1px solid #999999;
    border-radius: 4px;
    font-size: 14px;
    color: #333333;
    left: 4%;
}
.wx_pay span:nth-of-type(2){
	background: #3AAB87;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 18px;
	width: 60%;
	right: 4%;
	height: 67%;
}
.course_pay span b{
	position:absolute;
	width: 100%;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.course_pay_success{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);
    border-radius: 10px;
	background: rgba(0,0,0,0.30);
}
.course_pay_success .pay_success{
	position: absolute;
	top: 21%;
	left: 13%;
	background: #2FBBA9 ;
    border-radius: 10px; 
	text-align:center;
	z-index: 999;
	width: 73.3%;
	height:56.7% ;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);
}
.pay_success p:nth-of-type(1){
	position: relative;
	height: 10%;
}
.pay_success p:nth-of-type(1) span{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 10px;
}
.pay_success p:nth-of-type(1) span img{
	width: 100%;
	height: 100%;
}
.pay_success p:nth-of-type(2){
	position: relative;
	width: 100%;
	height: 20%;
	text-align: center;
}
.pay_success p:nth-of-type(2) span{
	position: absolute;
	left: 50%;
	margin-left: -14%;
	display: block;
	width: 75px;
	height: 75px;
	background: url('../img/成功.png');
	background-size: 100% 100%;
	
}
.pay_success p:nth-of-type(3){
	margin:10px 0px;
	width: 100%;
	height: 10%;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
}
.pay_success p:nth-of-type(4){
	margin-bottom: 2px;
	width: 100%;
	height: 10%;
	font-size: 14px;
	color: #333333;
	text-align: center;
}
.pay_success div{
	position: relative;
	height: 10%;
	margin:15px 0px;
	width: 100%;
	text-align: center;
	color: #333333;
	font-size: 14px;
}
.pay_success div:nth-of-type(2n+1) span{
		background: #FFFFFF;
}
.pay_success div span{
	position: absolute;

    border-radius: 5px;
    width: 80%;
    height: 44px;
    color: #2FBBA9;
    line-height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pay_success div:nth-of-type(2n) span{
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	color: #FFFFFF;
}
.course_pay_error{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background: rgba(0,0,0,0.30);
}
.course_pay_error .pay_error{
	position: absolute;
	top: 21%;
	left: 13%;
    border-radius: 10px; 
	text-align:center;
	z-index: 999;
	width: 73.3%;
	height:56.7% ;
	background: #FD7C7C;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);
}
.pay_error p:nth-of-type(1){
	position: relative;
	height: 10%;
}
.pay_error p:nth-of-type(1) span{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	right: 15px;
	top: 10px;
}
.pay_error p:nth-of-type(1) span img{
	width: 100%;
	height: 100%;
}
.pay_error p:nth-of-type(2){
	position: relative;
	width: 100%;
	height: 20%;
	text-align: center;
}
.pay_error p:nth-of-type(2) span{
	position: absolute;
	left: 50%;
	margin-left: -14%;
	display: block;
	width: 75px;
	height: 75px;
	background: url('../img/失败.png');
	background-size: 100% 100%;
	
}
.pay_error p:nth-of-type(3){
	margin:10px 0px;
	width: 100%;
	height: 10%;
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
}
.pay_error p:nth-of-type(4){
	margin-bottom: 2px;
	width: 100%;
	height: 10%;
	font-size: 14px;
	color: #333333;
	text-align: center;
}
.pay_error div{
	position: relative;
	height: 10%;
	margin:15px 0px;
	width: 100%;
	text-align: center;
	color: #333333;
	font-size: 14px;
}
.pay_error div:nth-of-type(2n+1) span{
		background: #FFFFFF;
}
.pay_error div span{
	position: absolute;

    border-radius: 5px;
    width: 80%;
    height: 44px;
    color: #FD7C7C;
    line-height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pay_error div:nth-of-type(2n) span{
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	color: #FFFFFF;
}

