*{
	margin: 0;
	padding: 0;
}
b{
	font-weight:normal
}
html{
	height: 200%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
}


.v_nav{
	width: 100%;
	height: 50%;
	position: relative;
}
.v_nav img{
	width: 100%;
	height: 100%;
}
.v_nav .v_s1{
	display: block;
	font-size: 48px;
	width: 55%;
	height: 9.4%;
	position: absolute;
	left: 5.3%;
	top: 45%;
	font-family: SFUIText-BoldItalic;
	text-shadow: 0 2px 6px rgba(0,0,0,0.50);
	color: #FFFFFF;
}
.v_nav .v_s2{
	display: block;
	font-size: 40px;
	width: 25%;
	height: 8.4%;
	position: absolute;
	left: 5.3%;
	top: 55%;
	font-family: PingFangSC-Medium;
	text-shadow: 0 2px 6px rgba(0,0,0,0.50);
	color: #FFFFFF;
}
.v_nav .v_det{
	width: 89.3%;
	height: 19.5%;
	position: absolute;
	left: 5.3%;
	bottom: 15%;
	color: #FFFFFF;
	background: rgba(0,0,0,0.3);
    border-radius: 10px;
	rgba(#000000,30);
}
.v_det span{
	display: block;
	margin-left: 10%;
	margin-top: 10%;
	font-size: 16px;
	line-height: 20px;
}


.v_img img{
	width: 100%;
}

.v_footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 0%;
	transition-duration: 1s;
	/*display: none;*/
}
.v_footer .v_pay span{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.v_footer .v_pay{
	width: 64%;
	height: 48%;
	position: absolute;
	left: 18%;
	bottom: 30%;
	text-align: center;
	font-size: 18px;
	color: white;
	line-height: 44px;
	background: #FF7867;
	box-shadow: 0 4px 8px -4px #FF7867;
	border-radius: 27px;
	overflow: hidden;
}

.course_pay{
	width: 100%;
	height: 36.5%;
	position: fixed;
	font-size: 16px;
	bottom: 0;
	background:#d5eaee;
	transition-duration: 1s;
	background: #FFFFFF;
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
	display: none;
	z-index: 999;
	
}

.course_pay p{
	position: relative;
	height: 12.5%;
	line-height: 30px;
	text-indent: 30px;
	
}
.course_pay p span{
	position: absolute;
	right: 5%;
}
.course_pay p:nth-of-type(2n+1) span{
	color: red;
}
.course_pay p:nth-of-type(1){
	text-align: center;
}
.course_pay div{
	position: relative;
	width: 100%;
	height: 37.5%;
	position: absolute;
	bottom: 0;
}
.course_pay div b{
	position: absolute;
	display:block;
	width: 40%;
	height: 50%;
	top: 25%;
	text-align: center;
	margin: 0 auto;
	border-radius: 88px ; 
}
.course_pay div b:nth-of-type(1){
	left: 5%;
	border: 1px solid #666666;
}
.course_pay div b:nth-of-type(2){
	right: 5%;
	background:rgba(255,120,103,1);
    box-shadow: 0px 4px 8px -4px rgba(255,120,103,1);
    color: #FFFFFF; 
}
.course_pay div b span{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}
