*{
	margin: 0;
	padding: 0;
}
b{
	font-weight:normal
}
html{
	height: 200%;
	width: 100%;
}
body{
	height: 100%;
	width: 100%;
	font-family: Roboto,Open Sans,Helvetica,Arial;
}
img{
	outline-width:0px;  
    vertical-align:top; 
}
video{
	outline-width:0px;  
    vertical-align:top; 
    
}
.v_nav{
	width: 100%;
	/*height: 50%;*/
	position: relative;
}
.v_nav img{
	width: 100%;
	height: auto;
}
.v_nav .slip_up{
	position: absolute;
	bottom: 25px;
	left: 50%;
	width: 50px;
	height: 20px;
	transform:translate(-50%,50%) ;
	transition-duration: 0.5s;
	z-index: 2;
}
.v_nav .v_desc{
	/*width: 55%;*/
	position: absolute;
	top: 46%;
	left: 5.3%;
}
.v_nav .v_s1{
	display: block;
	font-size: 36px;
/*	width: 55%;
	height: 9.4%;
	position: absolute;
	left: 5.3%;
	top: 45%;*/
	/*font-family: SFUIText-BoldItalic;*/
	font-family: PingFangSC-Medium;
	margin-bottom: 10px;
	text-shadow: 0 2px 6px rgba(0,0,0,0.50);
	color: #FFFFFF;
}
.v_nav .v_s2{
	display: block;
	margin-left: 5px;
	font-size: 20px;
/*	width: 25%;
	height: 8.4%;
	position: absolute;
	left: 5.3%;
	top: 55%;*/
	font-family: PingFangSC-Medium;
	text-shadow: 0 2px 6px rgba(0,0,0,0.50);
	color: #FFFFFF;
}
.v_nav .v_det{
	width: 89.3%;
/*	height: 19.5%;*/
    height: 120px;
	position: absolute;
	left: 5.3%;
	top: 64%;
	color: #FFFFFF;
	background: rgba(0,0,0,0.3);
    border-radius: 10px;
	rgba(#000000,30);
	padding: 10px 0;
}
.v_det span{
	display: block;
	height: 40px;
	margin-left: 10%;
	font-size: 16px;
	line-height: 40px;
}
.v_img{
	/*margin-bottom: 88px;*/
}

.v_img img{
	width: 100%;
}

.img_video{
    width: 100%;
	position: relative;
	border-radius: 10px;
}
.img_video img{
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.buy_success{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 88px;
	background: rgba(255,255,255,1);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
	transition-duration: 0.5s;
	z-index: 5;
	display: none;
}
.buy_success .buy_pay{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.buy_success .buy_pay p{
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 16.4%;
	overflow: hidden;
}
.buy_success .buy_pay span{
	display: inline-block;
	width: 100%;
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.buy_success .buy_pay div{
	height: 40%;
}
.buy_success .buy_pay p:nth-of-type(1){
	width: 28%;
	height: 67.2%;
	left: 4%;
	border: 1px solid #999999;
    border-radius: 4px;
}
.buy_success .buy_pay p:nth-of-type(2){
	width: 60%;
	height: 67.2%;
	right: 4%;
	background: #3AAB87;
    border-radius: 4px;
}
.buy_success .buy_pay p:nth-of-type(1) span{
	font-size: 18px;
	color: #333333;
}
.buy_success .buy_pay p:nth-of-type(2) span{
	font-size: 18px;
	color: #FFFFFF;
	
}
.v_footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 88px;
	background: rgb(255,255,255);
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.20);
	transition-duration: 0.5s;
	opacity: 0;
	z-index: 4;
	display: none;
}
.v_footer .v_pay{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.v_footer .v_pay p{
	display: inline-block;
	text-align: center;
	position: absolute;
	top: 16.4%;
	overflow: hidden;
}
.v_footer .v_pay span{
	display: inline-block;
	text-align: center;
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.v_footer .v_pay div{
	height: 40%;
}
.v_footer .v_pay p:nth-of-type(1) span{
	font-size: 18px;
	color: #333333;
}
.v_footer .v_pay p:nth-of-type(2) span{
	font-size: 18px;
	color: #FFFFFF;
	
}
.v_footer .v_pay p:nth-of-type(1) span b{
	font-size: 12px;
}
.v_footer .v_pay p:nth-of-type(2) span b{
	font-size: 12px;
}
.v_footer .v_pay p:nth-of-type(1){
	width: 28%;
	height: 67.2%;
	left: 4%;
	border: 1px solid #999999;
    border-radius: 4px;
}
.v_footer .v_pay p:nth-of-type(2){
	width: 60%;
	height: 67.2%;
	right: 4%;
	background: #3AAB87;
    border-radius: 4px;
}

