*{
    margin: 0;
    padding: 0;
}
body{
    background:#f5f5f5;
    color: #fff;
    font-family: Roboto,Open Sans,Helvetica,Arial;
}
html,body{
	width: 100%;
	height: 100%;
}
img{
	outline-width:0px;  
    vertical-align:top; 
}
.my_coupon{
	padding-top: 20px;
}
.coupon{
    width: 100%;
    height:auto;
}
.coupon li{
    display: flex;
    padding:0 4.5%;
    margin-bottom: 20px;
    width:100%;
    box-sizing: border-box;
}
/*优惠券左边*/
.coupon_left{
    background:url("../img/coupon_left.png") ;
    background-size: 100% 100%;
    width:70%;
    text-align: center;
    padding-top: 10px;
}
.coupon_price strong{
    font-size: 64px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.20);
}
.coupon_price span{
    font-size: 24px;
    margin-left: 10px;
}
.use_time{
    text-align: center;
    font-size: 10px;
    margin-bottom: 8px;
}
/*优惠券右边*/
.coupon_right{
    background:url("../img/coupon_right.png");
    width: 30%;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 18px;
}
.coupon_right div:nth-of-type(1){
    font-size: 14px;
    width:16px;
    margin: 0 auto;
}
.coupon_right div:nth-of-type(2){
    font-size: 10px;
    margin-top: 8px;
}