*{
	margin: 0;
	padding: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-image: linear-gradient(-49deg, #FFC0B3 10%, #FB6A6A 100%);
}
img{
	outline-width:0px;  
    vertical-align:top; 
    
}
li{
	list-style: none;
}
.weekly_bg{
	width: 100%;
	height: 93.3%;
	position: relative;
}
body>img{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 0;
}
.weekly_bg>img{
	width: 89.3%;
	margin: 20px 5.3% 0 5.3%;
}
.weekly_bg .weekly_box{
	width: 89.3%;
	height: 87%;
	position: relative;
	left: 5.3%;
	padding-bottom: 2.8%;
	border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.weekly_bg .weekly_main{
	width: 100%;
	height: 100%;
	background: #FFFFFF;
	margin-top: -1px;
	border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.weekly_main{
	padding-top: 10px;
}
.weekly_main .weekly_li p:nth-of-type(1){
	font-family: PingFangSC-Semibold;
	font-size: 18px;
	color: #333333;
	text-align: center;
	height: 25px;
	line-height: 25px;
}
.weekly_main .weekly_li p:nth-of-type(2){
	height: 30px;
	line-height: 30px;
	position: relative;
	margin-top: 10px;
	margin-bottom: 20px;
}
.weekly_main .weekly_li p:nth-of-type(2) span{
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	border: 2px solid #FD7C7C;
	border-radius: 15px;
	font-family: PingFangSC-Medium;
	font-size: 14px;
	color: #FD7C7C;
}
.weekly_main .weekly_li .weekly_con p{
	height: 30px;
	line-height: 30px;
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
}
.weekly_main .weekly_li .weekly_con p:nth-of-type(1){
	text-align: center;
	margin: 0;
}
