* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  position: fixed;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ion-app,
ion-nav,
ion-tab,
ion-tabs,
.app-root {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
}

ion-app,
ion-nav,
ion-tab,
ion-tabs,
.app-root,
.ion-page {
  contain: strict;
}

.platform-core .content-ios .scroll-content::after,
.platform-core .content-ios .scroll-content::before {
  position: initial;
  top: initial;
  bottom: initial;
  width: initial;
  height: initial;
}

.enable-hover a:hover {
  opacity: .7;
}

.ion-page {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.ion-page > ion-content {
  position: absolute;
}

.ion-page {
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.disable-scroll .ion-page {
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
}

.ion-page.show-page {
  opacity: 1;
}

.ios .ion-page.show-page ~ .nav-decor {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
}

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
  padding-top: calc(20px + 4px);
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  padding-top: calc(env(safe-area-inset-top) + 4px);
  min-height: calc(44px + 20px);
  min-height: calc(44px + constant(safe-area-inset-top));
  min-height: calc(44px + env(safe-area-inset-top));
}

.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content,
.ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ios ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
  padding-top: calc(16px + 20px);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-nav > .ion-page > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tab > .ion-page > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child ion-title,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ios ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child ion-title {
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
  height: calc(44px + 20px);
  height: calc(44px + constant(safe-area-inset-top));
  height: calc(44px + env(safe-area-inset-top));
  min-height: calc(44px + 20px);
  min-height: calc(44px + constant(safe-area-inset-top));
  min-height: calc(44px + env(safe-area-inset-top));
}

@media only screen and (max-width: 767px) {
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child {
    padding-top: calc(20px + 4px);
    padding-top: calc(constant(safe-area-inset-top) + 4px);
    padding-top: calc(env(safe-area-inset-top) + 4px);
    min-height: calc(44px + 20px);
    min-height: calc(44px + constant(safe-area-inset-top));
    min-height: calc(44px + env(safe-area-inset-top));
  }
  .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
  .ios .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
    padding-top: calc(16px + 20px);
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
  .ios .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    height: calc(44px + 20px);
    height: calc(44px + constant(safe-area-inset-top));
    height: calc(44px + env(safe-area-inset-top));
    min-height: calc(44px + 20px);
    min-height: calc(44px + constant(safe-area-inset-top));
    min-height: calc(44px + env(safe-area-inset-top));
  }
}

.md ion-nav > .ion-page > .toolbar.statusbar-padding:first-child,
.md ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.md ion-tab > .ion-page > .toolbar.statusbar-padding:first-child,
.md ion-tab > .ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.md ion-tabs > .ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child,
.md ion-menu > .menu-inner > .toolbar.statusbar-padding:first-child,
.md ion-menu > .menu-inner > ion-header > .toolbar.statusbar-padding:first-child {
  padding-top: calc(20px + 4px);
  padding-top: calc(constant(safe-area-inset-top) + 4px);
  padding-top: calc(env(safe-area-inset-top) + 4px);
  min-height: calc(56px + 20px);
  min-height: calc(56px + constant(safe-area-inset-top));
  min-height: calc(56px + env(safe-area-inset-top));
}

.md ion-nav > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
.md ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.md ion-tab > .ion-page > ion-content.statusbar-padding:first-child .scroll-content,
.md ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.md ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.md ion-menu > .menu-inner > ion-content.statusbar-padding:first-child .scroll-content,
.md ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
  padding-top: 20px;
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

.md ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.md ion-nav > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.md ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.md ion-nav > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.md ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.md ion-tab > .ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.md ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.md ion-tab > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.md ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.md ion-tabs > .ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.md ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.md ion-menu > .menu-inner > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.md ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.md ion-menu > .menu-inner > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
  padding-top: calc(16px + 20px);
  padding-top: constant(safe-area-inset-top);
  padding-top: env(safe-area-inset-top);
}

@media only screen and (max-width: 767px) {
  .md .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child {
    padding-top: calc(20px + 4px);
    padding-top: calc(constant(safe-area-inset-top) + 4px);
    padding-top: calc(env(safe-area-inset-top) + 4px);
    min-height: calc(56px + 20px);
    min-height: calc(56px + constant(safe-area-inset-top));
    min-height: calc(56px + env(safe-area-inset-top));
  }
  .md .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content {
    padding-top: 20px;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
  .md .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
  .md .modal-wrapper > .ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content {
    padding-top: calc(16px + 20px);
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
  }
}

ion-content {
  left: 0;
  top: 0;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  contain: layout size style;
}

.content-md {
  color: #000;
  background-color: #fff;
}

.content-md hr {
  background-color: rgba(0, 0, 0, 0.08);
}

ion-app.md [padding] {
  padding: 16px;
}

ion-app.md [padding-top] {
  padding-top: 16px;
}

ion-app.md [padding-left] {
  padding-left: 16px;
}

ion-app.md [padding-right] {
  padding-right: 16px;
}

ion-app.md [padding-bottom] {
  padding-bottom: 16px;
}

ion-app.md [padding-vertical] {
  padding-top: 16px;
  padding-bottom: 16px;
}

ion-app.md [padding-horizontal] {
  padding-left: 16px;
  padding-right: 16px;
}

ion-app.md [padding] .scroll-content {
  padding: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.md [padding] .scroll-content {
    padding-left: calc(constant(safe-area-inset-left) + 16px);
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 16px calc(env(safe-area-inset-right) + 16px) 16px calc(env(safe-area-inset-left) + 16px);
  }
}

ion-app.md [padding-top] .scroll-content {
  padding-top: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.md [padding-top] .scroll-content {
    padding-top: 16px;
    padding-top: 16px;
  }
}

ion-app.md [padding-left] .scroll-content {
  padding-left: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.md [padding-left] .scroll-content {
    padding-left: calc(constant(safe-area-inset-left) + 16px);
    padding-left: calc(env(safe-area-inset-left) + 16px);
  }
}

ion-app.md [padding-right] .scroll-content {
  padding-right: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.md [padding-right] .scroll-content {
    padding-right: calc(constant(safe-area-inset-right) + 16px);
    padding-right: calc(env(safe-area-inset-right) + 16px);
  }
}

ion-app.md [padding-bottom] .scroll-content {
  padding-bottom: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.md [padding-bottom] .scroll-content {
    padding-bottom: 16px;
    padding-bottom: 16px;
  }
}

ion-app.md [padding-vertical] .scroll-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.md [padding-vertical] .scroll-content {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

ion-app.md [padding-horizontal] .scroll-content {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.md [padding-horizontal] .scroll-content {
    padding-left: calc(constant(safe-area-inset-left) + 16px);
    padding-right: calc(constant(safe-area-inset-right) + 16px);
    padding-left: calc(env(safe-area-inset-left) + 16px);
    padding-right: calc(env(safe-area-inset-right) + 16px);
  }
}

ion-app.md [margin],
ion-app.md [margin] .scroll-content {
  margin: 16px;
}

ion-app.md [margin-top],
ion-app.md [margin-top] .scroll-content {
  margin-top: 16px;
}

ion-app.md [margin-left],
ion-app.md [margin-left] .scroll-content {
  margin-left: 16px;
}

ion-app.md [margin-start],
ion-app.md [margin-start] .scroll-content {
  margin-left: 16px;
}

ion-app.md [margin-right],
ion-app.md [margin-right] .scroll-content {
  margin-right: 16px;
}

ion-app.md [margin-end],
ion-app.md [margin-end] .scroll-content {
  margin-right: 16px;
}

ion-app.md [margin-bottom],
ion-app.md [margin-bottom] .scroll-content {
  margin-bottom: 16px;
}

ion-app.md [margin-vertical],
ion-app.md [margin-vertical] .scroll-content {
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-app.md [margin-horizontal],
ion-app.md [margin-horizontal] .scroll-content {
  margin-left: 16px;
  margin-right: 16px;
}

.fixed-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  display: block;
}

ion-content.has-refresher > .scroll-content {
  background-color: inherit;
}

[ion-fixed] {
  position: absolute;
  z-index: 999;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

ion-app [no-padding],
ion-app [no-padding] .scroll-content {
  padding: 0;
}

ion-app [no-margin],
ion-app [no-margin] .scroll-content {
  margin: 0;
}

ion-app.ios {
  font-family: -apple-system, "Helvetica Neue", "Roboto", sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
}

ion-app.md {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1.4rem;
  background-color: #fff;
}

ion-app.ios [padding] {
  padding: 16px;
}

ion-app.ios [padding-top] {
  padding-top: 16px;
}

ion-app.ios [padding-left] {
  padding-left: 16px;
}

ion-app.ios [padding-right] {
  padding-right: 16px;
}

ion-app.ios [padding-bottom] {
  padding-bottom: 16px;
}

ion-app.ios [padding-vertical] {
  padding-top: 16px;
  padding-bottom: 16px;
}

ion-app.ios [padding-horizontal] {
  padding-left: 16px;
  padding-right: 16px;
}

ion-app.ios [padding] .scroll-content {
  padding: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.ios [padding] .scroll-content {
    padding-left: calc(constant(safe-area-inset-left) + 16px);
    padding-top: 16px;
    padding-bottom: 16px;
    padding: 16px calc(env(safe-area-inset-right) + 16px) 16px calc(env(safe-area-inset-left) + 16px);
  }
}

ion-app.ios [padding-top] .scroll-content {
  padding-top: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.ios [padding-top] .scroll-content {
    padding-top: 16px;
    padding-top: 16px;
  }
}

ion-app.ios [padding-left] .scroll-content {
  padding-left: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.ios [padding-left] .scroll-content {
    padding-left: calc(constant(safe-area-inset-left) + 16px);
    padding-left: calc(env(safe-area-inset-left) + 16px);
  }
}

ion-app.ios [padding-right] .scroll-content {
  padding-right: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.ios [padding-right] .scroll-content {
    padding-right: calc(constant(safe-area-inset-right) + 16px);
    padding-right: calc(env(safe-area-inset-right) + 16px);
  }
}

ion-app.ios [padding-bottom] .scroll-content {
  padding-bottom: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.ios [padding-bottom] .scroll-content {
    padding-bottom: 16px;
    padding-bottom: 16px;
  }
}

ion-app.ios [padding-vertical] .scroll-content {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.ios [padding-vertical] .scroll-content {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

ion-app.ios [padding-horizontal] .scroll-content {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (orientation: landscape) {
  ion-app.ios [padding-horizontal] .scroll-content {
    padding-left: calc(constant(safe-area-inset-left) + 16px);
    padding-right: calc(constant(safe-area-inset-right) + 16px);
    padding-left: calc(env(safe-area-inset-left) + 16px);
    padding-right: calc(env(safe-area-inset-right) + 16px);
  }
}

ion-app.ios [margin],
ion-app.ios [margin] .scroll-content {
  margin: 16px;
}

ion-app.ios [margin-top],
ion-app.ios [margin-top] .scroll-content {
  margin-top: 16px;
}

ion-app.ios [margin-left],
ion-app.ios [margin-left] .scroll-content {
  margin-left: 16px;
}

ion-app.ios [margin-start],
ion-app.ios [margin-start] .scroll-content {
  margin-left: 16px;
}

ion-app.ios [margin-right],
ion-app.ios [margin-right] .scroll-content {
  margin-right: 16px;
}

ion-app.ios [margin-end],
ion-app.ios [margin-end] .scroll-content {
  margin-right: 16px;
}

ion-app.ios [margin-bottom],
ion-app.ios [margin-bottom] .scroll-content {
  margin-bottom: 16px;
}

ion-app.ios [margin-vertical],
ion-app.ios [margin-vertical] .scroll-content {
  margin-top: 16px;
  margin-bottom: 16px;
}

ion-app.ios [margin-horizontal],
ion-app.ios [margin-horizontal] .scroll-content {
  margin-left: 16px;
  margin-right: 16px;
}

.content-ios:not([no-bounce]) > .scroll-content::before,
.content-ios:not([no-bounce]) > .scroll-content::after {
  position: absolute;
  width: 1px;
  height: 1px;
  content: "";
}

.content-ios:not([no-bounce]) > .scroll-content::before {
  bottom: -1px;
}

.content-ios:not([no-bounce]) > .scroll-content::after {
  top: -1px;
}

ion-list {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none;
}

ion-list[inset] {
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.list-md .item-input.item-input-has-focus:last-child,
.list-md .item-input.input-has-focus:last-child {
  border-bottom-color: #488aff;
  -webkit-box-shadow: inset 0 -1px 0 0 #488aff;
  box-shadow: inset 0 -1px 0 0 #488aff;
}

.list-md .item-input.item-input-has-focus:last-child .item-inner,
.list-md .item-input.input-has-focus:last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #32db64;
  -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
  box-shadow: inset 0 -1px 0 0 #32db64;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: #32db64;
  -webkit-box-shadow: inset 0 -1px 0 0 #32db64;
  box-shadow: inset 0 -1px 0 0 #32db64;
}

.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #f53d3d;
  -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: #f53d3d;
  -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
  box-shadow: inset 0 -1px 0 0 #f53d3d;
}

.list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child .item-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-md ion-item-sliding {
  background-color: #fff;
}

.list-md {
  margin: -1px 0 16px;
}

.list-md .item-block .item-inner {
  border-bottom: 1px solid #dedede;
}

.list-md > .item-block:last-child ion-label,
.list-md > .item-block:last-child .item-inner,
.list-md > .item-wrapper:last-child ion-label,
.list-md > .item-wrapper:last-child .item-inner {
  border-bottom: 0;
}

.list-md > ion-input:last-child::after {
  left: 0;
}

.list-md ion-item-options {
  border-bottom: 1px solid #dedede;
}

.list-md ion-item-options .button {
  margin: 0;
  border-radius: 0;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.list-md ion-item-options .button::before {
  margin: 0 auto;
}

.list-md .item[no-lines],
.list-md .item[no-lines] .item-inner {
  border-width: 0;
}

.list-md + ion-list ion-list-header {
  margin-top: -16px;
}

.list-md[inset] {
  margin: 16px;
  border-radius: 2px;
}

.list-md[inset] .item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-width: 0;
}

.list-md[inset] .item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-width: 0;
}

.list-md[inset] .item-input {
  padding-left: 0;
  padding-right: 0;
}

.list-md[inset] + ion-list[inset] {
  margin-top: 0;
}

.list-md[inset] ion-list-header {
  background-color: #fff;
}

.list-md[no-lines] .item-block,
.list-md[no-lines] ion-item-options,
.list-md[no-lines] .item .item-inner {
  border-width: 0;
}

.list-md .item-input:last-child {
  border-bottom: 1px solid #dedede;
}

.item {
  contain: content;
}

.item-block {
  margin: 0;
  padding: 0;
  text-align: initial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  min-height: 4.4rem;
  border: 0;
  font-weight: normal;
  line-height: normal;
  text-decoration: none;
  color: inherit;
}

.item-inner {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  -webkit-flex-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  min-height: inherit;
  border: 0;
}

.input-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
  -webkit-flex-direction: inherit;
  -ms-flex-direction: inherit;
  flex-direction: inherit;
  -webkit-box-align: inherit;
  -webkit-align-items: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-overflow: ellipsis;
}

.item[no-lines],
.item.item[no-lines] .item-inner {
  border: 0;
}

ion-item-group {
  display: block;
}

ion-item-divider {
  margin: 0;
  padding: 0;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  min-height: 30px;
}

.item-md {
  padding-left: 16px;
  padding-right: 0;
  position: relative;
  font-size: 1.6rem;
  font-weight: normal;
  text-transform: none;
  color: #000;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

ion-label {
  margin: 0;
  display: block;
  overflow: hidden;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-input ion-label {
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial;
  max-width: 200px;
  pointer-events: none;
}

.label-md {
  margin: 13px 8px 13px 0;
}

.button-md .button-effect {
  background-color: #fff;
}

ion-scroll {
  position: relative;
  display: block;
}

ion-scroll.scroll-x .scroll-content {
  overflow-x: auto;
}

ion-scroll.scroll-y .scroll-content {
  overflow-y: auto;
}

.scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
}

ion-scroll .scroll-content {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.col {
  padding: 5px;
  position: relative;
  width: 100%;
  margin: 0;
  min-height: 1px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.item-md h1 {
  margin: 0 0 2px;
  font-size: 2.4rem;
  font-weight: normal;
}

.item-md h2 {
  margin: 2px 0;
  font-size: 1.6rem;
  font-weight: normal;
}

.item-md h3,
.item-md h4,
.item-md h5,
.item-md h6 {
  margin: 2px 0;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: normal;
}

.item-md p {
  margin: 0 0 2px;
  overflow: inherit;
  font-size: 1.4rem;
  line-height: normal;
  text-overflow: inherit;
  color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.2;
}