::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none !important;
}

.scroll-bar-indicator {
  display: none !important;
}

shan-card .cardImg {
  width: 26.5rem;
  height: 15rem;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

tag-card .cardImg {
  width: 26.5rem;
  height: 15rem;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

page-home ion-scroll[scrollX] {
  white-space: nowrap;
}

page-home ion-scroll[scrollX] .scroll-item {
  display: inline-block;
}

page-home .card {
  display: inline-block;
  height: 20.5rem;
  border: 1px solid #fff;
  position: relative;
  width: 28rem;
}

page-home .card-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

page-home .card-1:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

page-home .item-inner {
  padding: 0px !important;
}

page-home .list-ios, page-home .list-md {
  margin: 0;
}

page-home .dayImg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  width: 8rem;
  height: 8rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0.4rem;
  position: absolute;
  top: 0;
}

page-home .daySearch {
  position: absolute;
  left: 0;
  top: 9.5rem;
  width: 8rem;
  height: 4rem;
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

page-home .lessonImg {
  -webkit-box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  width: 24rem;
  height: 13.5rem;
  left: 9.5rem;
  position: absolute;
}

page-home .level {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 100px 0 0 100px;
  font-family: PingFangSC-Medium;
  font-size: 1.2rem;
  color: #FFCE4F;
  text-align: center;
  right: 0;
  position: absolute;
  padding: 0.5rem 0.8rem 0.5rem 1.2rem;
  margin-top: 1rem;
}

page-home .lessonTitle {
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 10.5rem;
  bottom: 1.2rem;
}

page-home .lessonAvatar {
  border: 2px solid #FFFFFF;
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  right: 1rem;
  bottom: 0.7rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.8rem;
}

page-home .seeAll {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #666666;
  text-align: right;
  position: absolute;
  top: 0;
  right: 2.7rem;
  line-height: 2.8rem;
}