*{
	margin: 0;
	padding: 0;
}
.main{
	position: relative;
}
.main .bg{
	width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.backImgPlaceHolder {
    width: 100%;
}
.main .img1{
	    width: 10%;
    position: absolute;
	top: 3.9%;
	left: 45%;
}
.main .img2{
	    width: 10%;
    position: absolute;
	top: 13.9%;
	left: 23%;
}
.main .img3{
	    width: 10%;
    position: absolute;
	top: 25.9%;
	left: 57%;
}
.main .img4{
	    width: 10%;
    position: absolute;
	top: 42.9%;
	left: 22%;
}
.main .img5{
	    width: 10%;
    position: absolute;
	top: 66.9%;
	left: 17%;
}
.main .img6{
	    width: 10%;
    position: absolute;
	top: 47.5%;
	left: 82%;
}
.main .img7{
	    width: 10%;
    position: absolute;
	top: 66.5%;
	left: 72%;
}
.main .img8{
	    width: 10%;
    position: absolute;
	top: 83.5%;
	left: 27%;
}