page-home {
    ion-scroll[scrollX] {
        white-space: nowrap;
        .scroll-item {
        display: inline-block;
    }}
    .card {
        display: inline-block;
        height: 20.5rem;
        border: 1px solid #fff;
        position: relative;
        width: 28rem;
    }
    .card-1 {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    .card-1:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    .item-inner {
        padding: 0px!important;
    }
    .list-ios, .list-md {
        margin: 0;
    }
    .dayImg {
        background-image: linear-gradient(-180deg, rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.50) 100%);
        box-shadow: 0 3px 12px 0 rgba(0,0,0,0.16);
        width: 8rem; 
        height: 8rem; 
        object-fit: cover;
        border-radius: 0.4rem;
        position: absolute;
        top: 0;
    }
    .daySearch {
        position: absolute; 
        left: 0; 
        top: 9.5rem; 
        width: 8rem; 
        height: 4rem; 
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0 3px 12px 0 rgba(0,0,0,0.10);
        border-radius: 4px;
    }
    .lessonImg {
        box-shadow: 0 3px 12px 0 rgba(0,0,0,0.16);
        border-radius: 4px;
        width: 24rem; 
        height: 13.5rem; 
        left: 9.5rem; 
        position: absolute;
    }
    .level {
        background: rgba(0,0,0,0.60);
        border-radius: 100px 0 0 100px;
        font-family: PingFangSC-Medium;
        font-size: 1.2rem;
        color: #FFCE4F;
        text-align: center;
        right: 0;
        position: absolute;
        padding: 0.5rem 0.8rem 0.5rem 1.2rem;
        margin-top: 1rem;
    }
    .lessonTitle {
        font-family: PingFangSC-Semibold;
        font-size: 18px;
        color: #FFFFFF;
        text-align: center;
        text-shadow: 0 1px 1px rgba(0,0,0,0.30);
        position: absolute;
        left: 10.5rem;
        bottom: 1.2rem;
    }
    .lessonAvatar {
        border: 2px solid #FFFFFF;
        width: 3.6rem;
        height: 3.6rem;
        position: absolute;
        right: 1rem;
        bottom: 0.7rem;
        object-fit: cover;
        border-radius: 1.8rem;
    }
    .seeAll {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #666666;
        text-align: right;
        position: absolute;
        top: 0;
        right: 2.7rem;
        line-height: 2.8rem;
    }

    .cardInput {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        height: 20.6rem;
        background: rgba(255,255,255,1);
        box-shadow: 0 0 0 0 rgba(0,0,0,0.20);
        z-index: 2;
        border-bottom: solid; 
        border-width: 0.05rem;
        border-color: gray;
    }

    .cover {
        background: rgba(0,0,0,0.50);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 3;
    }

    .dayTaskHolder {
        background: white;
        position: fixed;
        width: 100%;
        height: 300px;
        bottom: -300px;  
        z-index: 3;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        overflow: scroll;
    }

    .dayTaskShowAnim {
        bottom: 0;
        transition: bottom 0.3s;
    }

    .dayTaskHideAnim {
        bottom: -300px;
        transition: bottom 0.3s;
    }

    .no-scroll .scroll-content{
        overflow: hidden;
      }
}
